//
//  Development.xcconfig
//  GithubApiSample
//
//  Created by Oleksandr Harmash on 7/16/19.
//  Copyright © 2019 OG. All rights reserved.
//

#include "Pods/Target Support Files/Pods-GithubApiSample/Pods-GithubApiSample.development.xcconfig"

BASE_URL = https:/$()/api.github.com

COMPILATION_CONDITION = DEVELOPMENT

NAME_SUFFIX = .dev
BUNDLE_SUFFIX = .dev

GIT_TOKEN = ab117d55827701f19c515ca6a867d0580bf4fde0
